In [7]:
import json
import pandas as pd
from citipy import citipy
from random import randint
from datetime import datetime
import matplotlib.pyplot as plt
import requests as req
import time

### Collecting random cities - Applying CitiPy
Used random number generator to generated random numbers between lat/long coordinates.  Numbers are then applied to citipy to find the nearest city to random coordinates, citipy uses kdtree to locate the nearest city.  Citipy takes in lat/long coordinates and locates the nearest city based on the coordinates.  Citipy returns city and country.  Return values are then placed in a tuple (used to compare BOTH city and country) then appended to a list, the function is set in a while-loop with an if-statement.  Reason behind this is to eliminate the possibility of cities having the same name but are in different countries.  Hence, with a tuple, both values can be compared and then added if it is not already in the list.

In [8]:
combined_list = []

while len(combined_list) < 20:
    lat_range = randint(-90,90)
    lng_range = randint(-180, 180)
    city = citipy.nearest_city(lat_range, lng_range)
    city_name = city.city_name
    country_name = city.country_code
    combined_ = (city_name, country_name) #'combined' is a tuple, used to compare BOTH city,country (in case of same city names, but different countries)
    if combined_ not in combined_list:
        combined_list.append(combined_)

### Setting list of cities - Unzipping into two lists
List of tuples (city, country) was used to compare and prevent same cities from being added to the list.  Now it is pulled apart into two lists (unzipped), later it will be used to set the columns for the dataframe (city, country).

In [9]:
city_list, country_list = zip(*combined_list)
city_list = list(city_list)
country_list = list(country_list)

### Creating search parameters for OWM // Storing returned information into lists (ie. Temps, Clouds, Humidity) // Printing status update on process

In [12]:
url = "http://api.openweathermap.org/data/2.5/weather"
api_key = ""

time_str1 = "Jul 27 01:50:06 +0000 2017"

converted_time1 = datetime.strptime(time_str1,
                                    "%b %d %H:%M:%S %z %Y")

start_unixtime = str(int(time.mktime(converted_time1.timetuple())))

lat_data = []
temp_data = []
humid_data = []
cloud_data = []
wind_data = []
number = 1
for each_city, each_country in combined_list:
    print("Collecting data on city #" + str(number) + ': ' + str(each_city) + ', ' + str(each_country))
    try:
        params = {'appid': api_key,
                  'q': each_city + ',' + each_country,
                  'type': 'hour',
                  'start': start_unixtime,
                  'cnt': 1}
    
        weather_response = req.get(url, params)
        print("Requested URL: " + str(weather_response.url))
        weather_json = weather_response.json()
        lat_data.append(weather_json['coord']['lat'])
        temp_data.append(weather_json['main']['temp'])
        humid_data.append(weather_json['main']['humidity'])
        cloud_data.append(weather_json['clouds']['all'])
        wind_data.append(weather_json['wind']['speed'])
    except:
        print("Some part of the combined_list data is missing, appending NaN")
        lat_data.append('NaN')
        temp_data.append('NaN')
        humid_data.append('NaN')
        cloud_data.append('NaN')
        wind_data.append('NaN')
    number += 1
    
#print(json.dumps(weather_json, indent=4, sort_keys=True))
# print(lat_data)
# print(temp_data)
# print(humid_data)
# print(cloud_data)
# print(wind_data)

Collecting data on city #1: ushuaia, ar
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=ushuaia%2Car&type=hour&start=1501145406&cnt=1
Collecting data on city #2: necochea, ar
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=necochea%2Car&type=hour&start=1501145406&cnt=1
Collecting data on city #3: vao, nc
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=vao%2Cnc&type=hour&start=1501145406&cnt=1
Collecting data on city #4: novyy urengoy, ru
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=novyy+urengoy%2Cru&type=hour&start=1501145406&cnt=1
Collecting data on city #5: thompson, ca
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=thompson%2Cca&type=hour&start=1501145406&cnt=1
Collecting data on city #6: vardo, no
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=vardo%2Cno&type=hour&start=1501145406&cnt=1
Collecting data on city #7: oyama, jp
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=oyama%2Cjp&type=hour&start=1501145406&cnt=1
Collecting data on city #8: punta arenas, cl
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=punta+arenas%2Ccl&type=hour&start=1501145406&cnt=1
Collecting data on city #9: cidreira, br
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=cidreira%2Cbr&type=hour&start=1501145406&cnt=1
Collecting data on city #10: mataura, pf
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=mataura%2Cpf&type=hour&start=1501145406&cnt=1
Some part of the combined_list data is missing, appending NaN
Collecting data on city #11: vaini, to
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=vaini%2Cto&type=hour&start=1501145406&cnt=1
Collecting data on city #12: cape town, za
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=cape+town%2Cza&type=hour&start=1501145406&cnt=1
Collecting data on city #13: ribeira grande, pt
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=ribeira+grande%2Cpt&type=hour&start=1501145406&cnt=1
Collecting data on city #14: saldanha, za
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=saldanha%2Cza&type=hour&start=1501145406&cnt=1
Collecting data on city #15: port alfred, za
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=port+alfred%2Cza&type=hour&start=1501145406&cnt=1
Collecting data on city #16: birao, cf
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=birao%2Ccf&type=hour&start=1501145406&cnt=1
Collecting data on city #17: airai, pw
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=airai%2Cpw&type=hour&start=1501145406&cnt=1
Some part of the combined_list data is missing, appending NaN
Collecting data on city #18: upernavik, gl
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=upernavik%2Cgl&type=hour&start=1501145406&cnt=1
Collecting data on city #19: mys shmidta, ru
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=mys+shmidta%2Cru&type=hour&start=1501145406&cnt=1
Some part of the combined_list data is missing, appending NaN
Collecting data on city #20: luderitz, na
Requested URL: http://api.openweathermap.org/data/2.5/weather?appid=520a1531cd2ce1c453e489ffd47eb034&q=luderitz%2Cna&type=hour&start=1501145406&cnt=1

In [13]:
weather_dict = {"Latitude": lat_data, "City": city_list, "Country": country_list, "Temperature": temp_data, "Humidity": humid_data, "Cloudiness": cloud_data, "Wind Speed": wind_data}

In [14]:
weather_df = pd.DataFrame(weather_dict)
weather_df

              City Cloudiness Country Humidity Latitude Temperature Wind Speed
0          ushuaia         40      ar       41    -54.8      287.15        2.6
1         necochea         88      ar       87   -38.55     295.608       2.25
2              vao         92      nc      100   -22.67     296.633       7.57
3    novyy urengoy         92      ru       85    66.08     265.733       3.17
4         thompson         75      ca       92    55.74      266.15        1.5
5            vardo         40      no       86    70.37      271.44       12.9
6            oyama         40      jp       93     36.3      275.15        3.1
7     punta arenas         40      cl       47   -53.15      286.15       11.8
8         cidreira         12      br       75   -30.18     296.158       8.35
9          mataura        NaN      pf      NaN      NaN         NaN        NaN
10           vaini         75      to       88    -21.2      298.15        0.5
11       cape town          0      za       68   -33.93      292.15        8.2
12  ribeira grande         75      pt       93    38.52      291.15       12.3
13        saldanha          0      za       63   -33.01      292.15        6.7
14     port alfred         92      za      100   -33.59     293.508       4.82
15           birao          0      cf       23    10.28     297.033       3.72
16           airai        NaN      pw      NaN      NaN         NaN        NaN
17       upernavik         92      gl       96    72.79     271.783       7.15
18     mys shmidta        NaN      ru      NaN      NaN         NaN        NaN
19        luderitz         20      na       72   -26.65      291.15        8.2